* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #050816;
    color: #ffffff;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    background: rgba(5,8,22,0.9);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #915eff;
}

nav a {
    color: #ccc;
    margin-left: 25px;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(120deg,#050816,#0f0c29,#302b63);
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-content h1 {
    font-size: 52px;
}

.hero-content span {
    color: #915eff;
}

.hero-content p {
    margin: 15px 0;
    color: #bbb;
}

.hero-content button {
    padding: 12px 30px;
    border: none;
    background: #915eff;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

/* SECTIONS */
section {
    padding: 100px 80px;
}

h2 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

/* ABOUT */
.about p {
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: #ccc;
    font-size: 18px;
}

/* SKILLS */
.skill-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.skill-card {
    background: #0b1025;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #1f1f3a;
}

.skill-card h3 {
    color: #915eff;
    margin-bottom: 10px;
}

/* PROJECTS */
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}

.project {
    background: #0b1025;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #1f1f3a;
}

.project h3 {
    color: #915eff;
}

/* CONTACT */
.contact {
    text-align: center;
}

.contact button {
    margin-top: 15px;
    padding: 12px 30px;
    background: #915eff;
    border: none;
    color: white;
    border-radius: 6px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #050816;
    color: #777;
}
